html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#login-signup {
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

nav.navbar.navbar-default.row {
	background: rgb(6, 217, 149);
	border: none;
}

a.navbar-brand {
    color: white;
}

a.navbar-brand:link {
    color: white;
}

a.navbar-brand:visited {
    color: white;
}

a.navbar-brand:hover {
    color: white;
}

a.navbar-brand:active {
    color: white;
}

i.fa.fa-sign-out {
    color: white;
}

i.fa.fa-sign-out:link {
    color: white;
}

i.fa.fa-sign-out:visited {
    color: white;
}

i.fa.fa-sign-out:hover {
    color: white;
}

i.fa.fa-sign-out:active {
    color: white;
}

.main-page {
	background-color: #2f2f2f;
    overflow-x: hidden;
    /*padding-right: 17px;*/
}

.complaint-form {
    margin-top: 15px;
}

.map-holder {
	/*height: 93%;
    margin-top: 10px;*/
    height: 91%;
    margin-top: -10px;
    margin-right: -7px;
}

.map-pane {
	/*height: 100%;*/
    height: 111.7%;
    padding-right: 0px;
}

#map {
height: 100%;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
    /* background-color: #F0AF3B; */
    font-weight: 900;
}

.panel-default {
    /* border-color: #ddd; */
    background-color: #222;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #FF9933;
    /* border-color: #ddd; */
}

.panel-default {
    border: none;
    margin-top: 40%;
}

.panel-heading {
    border: none;
}

.login-helper {
    list-style: none;
    display: flex;
}

.login-helper-content {
    margin-left: 5px;
}

.login-helper-content a{
    color: #FF9933;
}

.login-helper-content a:link {
    color: #FF9933;
}

.login-helper-content a:visited {
    color: #FF9933;
}

.login-helper-content a:hover {
    color: #FB7838;
    text-decoration: none;
}

.login-helper-content a:active {
    color: #FB7838;
    text-decoration: none;
}

.login-error {
	color: #FF9933; 
	text-align: center;
}

#insert-successful {
	color: #FF9933;
	margin-top: 10px;
}

.complaints {
    font-size: 18px;
    color: white;
}

i.fa.fa-thumbs-down {
    font-size: 20px;
    color: #FF4241;
}

i.fa.fa-thumbs-up {
    font-size: 20px;
    color: rgb(6, 217, 149);
}
